body {
    font-family : 'Comic Neue';
    font-size : 14px;
}
nav{
	background-color: #E0C5C5;
}
.page-title {
	color:#2F1D1D;
    font-size:24px; 
	font-weight:bold;
}

.cart-header {
	/*background-color: #0040FF;*/
	background-color: #ff9d9d;
	color: white;
}